*,
*:before,
*:after { box-sizing: border-box; }

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: none;
}

html, body {
  height: 100%;
}


body {
  background:  $color-background;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size:   $base-font-size;
  line-height: $base-line-height;
  color:       $base-text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// Reset fonts for relevant elements

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

// Links

a {
  outline: none;
  text-decoration: none;
  color: $color-link;

  &:hover,
  &:focus {
    color: darken($color-link, 10%);
  }
}

img {
  vertical-align: middle;
}
